{% extends 'base.html' %}

{% block content %}
    <p style="color: red;">{{ error }}</p>
    <form action="/login/" method="post" style="color: rgb(4, 4, 166); font-size: 20px; font-family: 'Courier New', Courier, monospace; margin-top: 50px; padding: 20px; border-radius: 5px;">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username"><br>
        <label for="password">Password:</label>
        <input type="password" name="password"><br>
        <button type="button" onclick="window.location.href='/register/'">register</button>
        <input type="submit" value="Login">
    
    </form>
{% endblock %}